POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_PORT=your_postgres_port

JWT_KEY=your_jwt_secret_key
JWT_ISSUER=your_jwt_issuer
JWT_AUDIENCE=your_jwt_audience
JWT_EXPIRY=your_jwt_expiry_time_in_minutes